<div class="cmd" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#">
	
	<span>
  
  		<select class="state"></select>
  
  		<a class="btn btn-sm btn-default action cmdName tooltips" title="Change" style="background-color:#4cdfc2 !important;border-color : transparent !important;margin-top: 2px;">Change</a>
	
  	</span>
	
  	<script>
  
  		$('.cmd[data-cmd_uid=#uid#]:last .action').off('click').on('click', function () {  
	    	jeedom.cmd.execute({id: '1545', value: { device_ids: $('.cmd[data-cmd_uid=#uid#] .state :selected').val()}});
    	});

    	if ( $('.cmd[data-cmd_uid=#uid#]:last').prev().data('subtype') != undefined 
		&& $('.cmd[data-cmd_id=#id#]:last').prev().data('subtype') != 'other'
		&& $('.cmd[data-cmd_uid=#uid#]:last').prev().css('display') != 'block') 
    	{
      		$('.cmd[data-cmd_uid=#uid#]:last').prepend('<br/>');
    	}

		jeedom.cmd.update['#id#'] = function(_options){
			var data = json_decode(_options.display_value);
          	$('.cmd[data-cmd_id=#id#] .state').empty();
  			jQuery.each( data.devices, function() {              
 				$('.cmd[data-cmd_id=#id#] .state').append($('<option value="'+this.id+'"'+(( this.is_active ) ? 'selected' : '')+'>'+this.name+'</option>'));
			});
		}

		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});

	</script>
</div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      